
*.nc
*.DS_Store
*.pdf
*.js
*.html
*.Rmd
*.pyc
*.css
*.png
*.js
*.js
*.js
Code/Fonts/._NotoSans-unhinted
*.pkl
*.ttf
*.txt
*.pkl
*.html
*.docx
*.zip
*.pptx
*.xlsx
*.gif
*.gz
*.db
*.doc
*.rtf
*.rtf
*Code/._QC*.py
*Code/Fonts
QC_reports/
*.tex
*._*
*.toc
*.aux
*.fdb_latexmk
*.fls
*.log
QC_reports_Github_UNSW/
Code/Utilities/CreateVelGridded-L-F6DK6Z2.py
Code/QCreport_PlotDeployment-L-F6DK6Z2.py
